<div class="col-md-6 col-md-push-3">
	<?xml version="1.0" encoding="utf-8"?>
	<!-- Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 147 47.3" style="enable-background:new 0 0 147 47.3;" xml:space="preserve">
		<style type="text/css">
			.st0{fill-opacity:0.25; fill:#000; stroke:#000000;stroke-miterlimit:10;}
			.st1{font-family:'MyriadPro-Regular';}
			.st2{font-size:12px; fill:#ffffff;}
			.st3{font-size:7px; fill:#ffffff}
		</style>
		<!-- <path class="st0" d="M134.5,46.8h-122c-6.6,0-12-5.4-12-12V12.5c0-6.6,5.4-12,12-12h122c6.6,0,12,5.4,12,12v22.3C146.5,41.4,141.1,46.8,134.5,46.8z"/> -->
		<text transform="matrix(1 0 0 1 37.2722 10.8335)">
			<tspan x="0" y="0" class="st1 st2">Do Something</tspan>
			<tspan x="-14" y="14.4" class="st1 st2">Amateur Radio Club</tspan>
		</text>
		<text transform="matrix(1 0 0 1 3.9248 36.4202)">
			<tspan x="0" y="0" class="st1 st3">The best club for those that want to get out and</tspan>
			<tspan x="48.4" y="8.4" class="st1 st3">Do Something</tspan>
		</text>
	</svg>
</div>
