<style>

#loading {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}



</style>

<div id='loading'>loading...</div>

<div id='calendar'></div>

<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,listMonth'
      },
      defaultView: 'month',
      googleCalendarApiKey: 'AIzaSyDyMoDpMndtgfhh62g_B9Gr5YrXhSBMhmI',
      events: {
        googleCalendarId: 'pkr1feh376liutlgs84gd0bjmo@group.calendar.google.com'
      },
      eventClick: function(event) {
  			// opens events in a popup window
  			window.open(event.url, 'gcalevent', 'width=700,height=600');
  			return false;
  		},
      loading: function(bool) {
  			$('#loading').toggle(bool);
  		}
    });
  });
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" integrity="sha256-Kpo67ZL4Mq+OPqdedHe9lvnMI6i6gZOI1+7NqujLdq0=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js" integrity="sha256-SYIz/7Qe8avYdBE3w2kKVL1PB/mS05GGgKVn5qa86SY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/gcal.min.js" integrity="sha256-5axzynoOFRH6xONzFE7ASn7hp2OiD0A8+i52FpQuZRY=" crossorigin="anonymous"></script>
