// Global

#banner {
	background-image: url("img/DSC_0329.png");
	background-repeat: no-repeat;
}

.navbar-inverse {
	-webkit-border-radius: 0 0 4px 4px !important;
	-moz-border-radius: 0 0 4px 4px !important;
	border-radius: 0 0 4px 4px !important;
}
